.custom-card {
  width: 30%;
  margin: 2rem auto;
}

.img-md {
  width: 20vw;
  margin: 1rem auto;
}

.title {
  font-weight: 500;
  color: black;
  margin: 0 16px;
}

.value {
  font-weight: 400;
  color: #717171;
  margin: 0px 16px 10px;
}
