<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Current Weather</mat-card-title>
    <mat-card-subtitle>{{weather.city}}</mat-card-subtitle>
  </mat-card-header>
  <img class="img-md" mat-card-image src="https://img.pokemondb.net/artwork/large/{{weather.pokemon}}.jpg" alt="Pokemon">
  <mat-card-content>
    <h3 class="title">Temperature</h3>
    <p class="value">{{weather.temperature}}</p>
    <h3 class="title">Is Raining</h3>
    <p class="value">{{weather.raining}}</p>
  </mat-card-content>
</mat-card>
