<div class="container search-header">
  <mat-form-field class="searchbar" appearance="fill">
    <mat-label>City</mat-label>
    <input matInput type="text" [(ngModel)]="city">
    <button *ngIf="city" matSuffix mat-icon-button aria-label="Clear" (click)="city=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button type="button" color="primary" (click)="getWeather()">Get Weather</button>
</div>
<app-weather-display *ngIf="!!weather && !isLoading" [weather]="weather"></app-weather-display>
<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
